<div class="panel-body">
  <div class="dataTable_wrapper">
    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
      <thead>
          <tr>
              <th>All Teams</th>
              <th>Winner Team</th>
              <th>Loser Team</th>
              <th>total Games</th>
              <th class="text-center">Actions</th>
              
          </tr>
      </thead>
      <tbody>

        <% @admin_matches.each_with_index do |match,index| %>

          <tr class="odd gradeX">
            <td><%= index+1 %></td>
            <td><%= match.try(:match_winner) .try(:name)%></td>
            <td><%#= match.games.winner_team.name %></td>
            <td><%= match.games.count %></td>
            <td class="text-center">
                <span>
                <%= link_to '', edit_admin_match_path(match) ,class: "edit fa fa-edit icon_link with-tip no-text", title: "edit"%>&nbsp; &nbsp;
                </span>
                <span>
               
                <%= link_to '',  admin_match_path(match), method: :delete, data: { confirm: 'Are you sure?' } ,class: "delete fa fa-trash icon_link with-tip no-text" , title: "delete" %>
                    
                </span>
            </td>
          </tr>
        <%end%>                                                                             
      </tbody>
    </table>
  </div>
</div>