<p id="notice"><%= notice %></p>

<h1>Admin Games</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_games.each do |admin_game| %>
      <tr>
        <td><%= link_to 'Show', admin_game %></td>
        <td><%= link_to 'Edit', edit_admin_game_path(admin_game) %></td>
        <td><%= link_to 'Destroy', admin_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Game', new_admin_game_path %>
